#myChart{
    top: 10px;
    position:relative;
    background: var(--white);
    padding: 30px;
    border-radius: 20px;
    display: flex;
    justify-content: space-between;
    cursor: pointer;
    box-shadow: 0 10px 255px rgba(0, 0, 0, 0.08);
  }